<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登入</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>登入</h1>
    <%- include("students/errorTemplate") %>
    <form method="POST" action="/students/login">
      <table class="studentsPageTable">
        <thead>
          <tr>
            <th colspan="2">學生登入</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label for="exampleInputEmail1" class="form-label">信箱</label>
            </td>
            <td>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label for="exampleInputPassword1" class="form-label">密碼</label>
            </td>
            <td>
              <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
            />
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button class="btn" type="submit"> 送出</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </body>
</html>
