<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>學生列表</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>學生列表</h1>
  <table class="studentsListTable">
    <thead>
      <tr>
        <th>名稱</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(student => { %>
      <tr>
        <td><%= student.name %></td>
        <td><a class="link" href="/students/studentsList/<%= student.id %>">查看資料</a></td>
        <td><a class="link" href="/students/studentDelete/<%= student.id %>">刪除資料</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>